body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Bold.eot) format("eot"), url(../fonts/Gilroy-Bold.ttf) format("truetype"), url(../fonts/Gilroy-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Thin.eot) format("eot"), url(../fonts/Gilroy-Thin.ttf) format("truetype"), url(../fonts/Gilroy-Thin.woff) format("woff");
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.eot) format("eot"), url(../fonts/Gilroy-Regular.ttf) format("truetype"), url(../fonts/Gilroy-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

*:focus {
  outline: none;
}

html.fonts-loaded body {
  font-family: 'Gilroy', sans-serif;
}

body {
  font-size: 16px;
  font-display: swap;
  font-family: 'Gilroy', Arial, sans-serif;
}

.ps {
  font-style: italic;
  font-size: 14px;
}

.row-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-mini {
  max-width: 1170px;
  margin: 0 auto;
}

.show-xs {
  display: none !important;
}

@media screen and (max-width: 576px) {
  .show-xs {
    display: block !important;
  }
}

.show-sm {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .show-sm {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  .hide-sm {
    display: none !important;
  }
}

@media screen and (max-width: 576px) {
  .hide-xs {
    display: none !important;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.title-primary {
  font-size: 40px;
  color: #203D3E;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .title-primary {
    font-size: 34px;
  }
}

@media screen and (max-width: 576px) {
  .title-primary {
    font-size: 24px;
  }
}

.title-primary.white {
  color: #fff;
}

.title-secondary {
  font-size: 25px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .title-secondary {
    font-size: 22px;
    line-height: 25px;
  }
}

@media screen and (max-width: 576px) {
  .title-secondary {
    font-size: 18px;
    line-height: 23px;
  }
}

.title-secondary.white {
  color: #fff;
}

button {
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  line-height: 1;
  cursor: auto;
}

.title-tertiary {
  font-size: 23px;
  color: #333;
  margin: 10px 0;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .title-tertiary {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .title-tertiary {
    font-size: 17px;
  }
}

.desc-primary {
  text-align: center;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .overhidden {
    overflow: hidden;
  }
}

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hr {
  width: 300px;
  height: 3px;
  background-color: #333;
  margin: 30px auto;
}

.nowrap {
  white-space: nowrap;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .overhidden {
    overflow: hidden;
  }
}

button {
  -webkit-appearance: none;
}

.paragraph {
  font-size: 20px;
  text-align: justify;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .paragraph {
    font-size: 15px;
  }
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

.logo-font,
.logo {
  font-family: 'Orbitron', sans-serif;
}

.btn-primary {
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 10px 9px;
  background-color: #333;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border: 2px solid #333;
  border-radius: 5px;
}

.btn-primary:hover, .btn-primary:focus {
  outline: none;
  color: #fff;
  background-color: #333;
}

@media only screen and (max-width: 576px) {
  .btn-primary {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
}

.btn-telegram {
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 10px 9px;
  background-color: #333;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border: 2px solid #333;
  border-radius: 5px;
  color: #0dace8;
  background-color: #fff;
  border-color: #0dace8;
}

.btn-telegram:hover, .btn-telegram:focus {
  outline: none;
  color: #fff;
  background-color: #333;
}

@media only screen and (max-width: 576px) {
  .btn-telegram {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
}

.btn-telegram:hover, .btn-telegram:focus {
  color: #fff;
  background-color: #0dace8;
}

.text-right {
  text-align: right;
}

.pulse {
  -webkit-animation: pulse-pulse-primary 2s linear infinite;
          animation: pulse-pulse-primary 2s linear infinite;
}

@-webkit-keyframes pulse-pulse-primary {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(51, 51, 51, 0.8);
            box-shadow: 0 0 0 0 rgba(51, 51, 51, 0.8);
  }
  10% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  20% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-box-shadow: 0 0 0px 5px rgba(51, 51, 51, 0.5);
            box-shadow: 0 0 0px 5px rgba(51, 51, 51, 0.5);
  }
  80% {
    -webkit-box-shadow: 0 0 3px 10px rgba(51, 51, 51, 0);
            box-shadow: 0 0 3px 10px rgba(51, 51, 51, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(51, 51, 51, 0);
            box-shadow: 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes pulse-pulse-primary {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(51, 51, 51, 0.8);
            box-shadow: 0 0 0 0 rgba(51, 51, 51, 0.8);
  }
  10% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  20% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-box-shadow: 0 0 0px 5px rgba(51, 51, 51, 0.5);
            box-shadow: 0 0 0px 5px rgba(51, 51, 51, 0.5);
  }
  80% {
    -webkit-box-shadow: 0 0 3px 10px rgba(51, 51, 51, 0);
            box-shadow: 0 0 3px 10px rgba(51, 51, 51, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(51, 51, 51, 0);
            box-shadow: 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
/*# sourceMappingURL=general.css.map */